@import '@fontsource-variable/inter';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1.page-title {
    @apply mb-10 text-4xl font-bold;
  }

  table.stats-table {
    tr {
      @apply border-b border-neutral-300 text-sm;

      td {
        @apply py-2;

        [data-stat-level='1'] {
          @apply bg-red-600;
        }

        [data-stat-level='2'] {
          @apply bg-orange-500;
        }

        [data-stat-level='3'] {
          @apply bg-yellow-300;
        }

        [data-stat-level='4'] {
          @apply bg-lime-400;
        }

        [data-stat-level='5'] {
          @apply bg-green-500;
        }

        [data-stat-level='6'] {
          @apply bg-sky-500;
        }
      }
    }
  }

  .spinner {
    display: inline-block;
    width: 80px;
    height: 80px;

    &:after {
      content: ' ';
      display: block;
      width: 64px;
      height: 64px;
      margin: 8px;
      border-radius: 50%;
      border: 6px solid;
      border-color: #000 transparent;
      animation: spinner 1.5s linear infinite;
    }

    @keyframes spinner {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
